ion-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0f8ff; /* Color de fondo suave */
}

h2 {
  font-size: 24px;
  margin: 10px 0;
  color: #333;
}

.weather-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 400px; /* Ancho máximo para las tarjetas */
}

.temperature {
  font-size: 48px;
  color: #ff6347; /* Color atractivo para la temperatura */
  margin: 10px 0;
}

.description {
  font-size: 20px;
  color: #666;
}

.icon {
  width: 100px; /* Tamaño del icono */
  height: 100px;
  margin: 10px 0;
}
