<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/comprar"></ion-back-button>
    </ion-buttons>
    <ion-title>Clima Soleado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalles del Clima Soleado</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      El día es soleado con cielos despejados. Es ideal para actividades al aire libre. Manténte hidratado y usa protector solar.
    </ion-card-content>
  </ion-card>
</ion-content>
